*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header, main{
    width: 90%;
    margin: 2% auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 1.5em;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
}
.parent{
    display: flex;
    justify-content: space-evenly;
}
.parent h1{
    font-size: 50px;
}

.left-side{
    width: 582px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.photo img{
    width: 440px;
    height: 414px;
    left: 935px;
    background: url(.png);
}
.button{
    padding: 10px 24px;
    font-size: 18px;
    background-color:  #E02C6D;
    border-radius: 41px;
    width: 200px;
}

.first-section{
    margin-bottom: 120px;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.logo-section img{
    margin-left: 50px;
}
.second-section{
    text-align: center;
}
